/*
 * Styles
 */
/*========================================
=            Universal styles            =
========================================*/
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background-color: #f3f2ef; }

a {
  text-decoration: none; }

#wrapper {
  position: relative;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #f2efe8;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15); }
  #wrapper > * {
    width: 100%;
    padding: 15px; }

/*=====  End of Universal styles  ======*/
/*=====================================
=            Header styles            =
=====================================*/
header {
  background-color: #313837;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); }
  header > * {
    font-size: 16px;
    display: inline-block;
    min-width: 50%;
    vertical-align: middle; }
  header .title {
    font-size: 44px;
    font-weight: 900;
    margin: 0;
    /* Padding increases height of header */
    padding: 40px 0; }
    header .title a {
      color: #fff; }
    header .title .pad {
      padding-left: 8px; }
  header #navigation {
    font-size: 0;
    text-align: right;
    text-transform: uppercase; }
    header #navigation > * {
      font-size: 14px;
      font-weight: 400;
      color: #fff; }
    header #navigation > li {
      display: inline-block; }
    header #navigation a {
      display: block;
      padding: 10px;
      transition: 0.15s ease;
      letter-spacing: 2px;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0);
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background-clip: padding-box; }
    header #navigation a:hover {
      border: 1px solid rgba(255, 255, 255, 0.6);
      background-color: rgba(255, 255, 255, 0.05); }
    header #navigation a:active {
      position: relative;
      top: 1px; }

/*=====  End of Header styles  ======*/
/* Remove gap between inline-block elements */
header,
footer {
  font-size: 0; }

/*=====================================
=            Footer styles            =
=====================================*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ba9077;
  -webkit-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.1); }
  footer ul {
    font-size: 0;
    width: 100%;
    text-align: right; }
    footer ul li {
      font-size: 16px;
      display: inline-block;
      padding: 0 15px;
      border-right: 1px solid rgba(255, 255, 255, 0.9); }
    footer ul li:last-child {
      padding-right: 0;
      border-right: none; }
    footer ul a {
      font-family: "Lato", sans-serif;
      font-size: 14px;
      font-weight: 400;
      display: block;
      color: #fff; }
    footer ul a:hover {
      text-decoration: underline; }

/*=====  End of Footer styles  ======*/
/*===================================
=            Main styles            =
===================================*/
main {
  font-weight: 300;
  overflow: auto;
  padding-bottom: 100px !important;
  color: #313837; }

section {
  position: relative;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }
  section .section__container {
    display: inline-block;
    overflow: auto;
    width: 100%;
    padding: 20px; }
  section .section__container:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' '; }
  section .bottom-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
  section h4 {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #546160;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    background-clip: padding-box; }
  section > * {
    padding: 10px; }

#my-lists .list-item {
  float: left;
  width: 20%;
  min-height: 150px;
  padding: 10px; }
  #my-lists .list-item h5 {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 10px 0; }
  #my-lists .list-item .list-description {
    font-weight: 300;
    display: block; }
#my-lists #list-options {
  font-size: 0;
  text-align: right; }
  #my-lists #list-options li {
    display: inline-block;
    margin-right: 20px; }
  #my-lists #list-options li:last-child {
    margin-right: 0; }
#my-lists a {
  font-size: 16px;
  font-weight: 400;
  display: block;
  color: #313837; }
#my-lists a:hover {
  text-decoration: underline; }

#misc .misc__items {
  font-size: 0; }
  #misc .misc__items li {
    display: inline-block;
    min-width: 25%;
    margin-right: 20px;
    text-align: center; }
  #misc .misc__items li:last-child {
    margin-right: 0; }
  #misc .misc__items > * {
    font-size: 16px; }
  #misc .misc__items a {
    font-weight: 400;
    display: block;
    padding: 10px;
    transition: 0.15s ease;
    color: #fff;
    background-color: #546160;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); }
  #misc .misc__items a:hover {
    background-color: #313837;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box; }
  #misc .misc__items a:active {
    position: relative;
    top: 1px; }

/*=====  End of Main styles  ======*/
/*=====================================
=            Media queries            =
=====================================*/
/* Larger than 1000px */
@media screen and (min-width: 1000px) {
  #navigation .hidden-false {
    display: block; }
  #navigation .hidden {
    display: none; } }
/* Smaller than 1000px */
@media screen and (max-width: 1000px) {
  #navigation .hidden-false {
    display: none; }
  #navigation .hidden {
    font-size: 32px;
    display: block; } }
/*=====  End of Media queries  ======*/

/*# sourceMappingURL=style.css.map */
